/* ABSTRACTS USE FOR NON-COMMON COMPONENTS */
/* IMPORT ABSTRACTS */
/* PREFIXES */
/* FONT STYLE */
/* FONTS DISPLAY */
/* ELEMENT FLOAT POSITION */
/* SIZE */
/* BACKGROUND */
/* BORDER */
/* BUTTON */
/* COLOR WITH BACKGROUND */
/* MARGINS */
/* PADDINGS */
/* SHADOWS */
/* MARGIN HORIZONTAL CENTER ALIGN */
/* MARGIN */
/* PADDING */
/* BORDER RADIUS */
/* TRANSITION */
/* RESPONSIVNESS MIXIN */
/* BASE PATH */
/* COLORS */
/* FONT-SIZE (EM/REM) */
/* FONTS WEIGHT */
/* FONTS STYLES */
/* MAIN FONT FAMILY */
/* TEXT POSITIONS */
/* ELEMENT POSITION */
/* POSITIONS */
/* PROPERTIES */
/* DISPLAY */
/* BREAKPOINTS */
/* IMPORT SASS FEATURES */
/* PAGE STYLING */
.home-header {
  background: url(../../img/wedding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 11; }
  .home-header__title {
    font-size: 3.5rem;
    color: #FFF;
    text-align: center;
    padding-top: 6.5rem;
    text-transform: uppercase; }
  .home-header__welcome {
    padding-top: 7.6rem;
    font-size: 5rem;
    color: #fcc200;
    text-align: center;
    text-shadow: 3px 3px 0px black; }
  .home-header__buttons {
    display: none; }
    .home-header__buttons button {
      color: #FFF !important;
      font-style: italic;
      font-size: 1.6rem;
      background-color: #4d4d4d;
      border: none;
      margin-bottom: 1.3rem;
      padding: 1rem 2.1rem 1.2rem 2.1rem;
      font-weight: bold;
      width: 100%;
      cursor: pointer; }
      .home-header__buttons button.active {
        font-size: 2.6rem;
        background: #000; }
  .home-header__text {
    font-size: 6rem;
    color: #FFF !important;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-shadow: 3px 3px 0px black;
    margin-top: 1rem;
    margin-bottom: 2.8rem; }
    .home-header__text span {
      color: #fcc200; }
  .home-header__speaker {
    text-align: center;
    font-size: 2.4rem;
    padding-bottom: 18.2rem;
    text-shadow: 1px 1px 0px black;
    margin-bottom: 0;
    color: #fcc200; }
  .home-header__img {
    position: absolute;
    left: 0;
    bottom: -18rem; }

.how-section__left {
  flex: 0 0 315px;
  padding-top: 17rem; }

.how-section__right {
  flex: 0 1 auto; }

.how-section__sm-block:nth-child(1) {
  background: url(../../img/home-page-sm-1.jpg);
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat; }

.how-section__sm-block:nth-child(2) {
  background: url(../../img/home-page-sm-2.jpg);
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat; }
