/* ABSTRACTS USE */
/* IMPORT ABSTRACTS */
/* PREFIXES */
/* FONT STYLE */
/* FONTS DISPLAY */
/* ELEMENT FLOAT POSITION */
/* SIZE */
/* BACKGROUND */
/* BORDER */
/* BUTTON */
/* COLOR WITH BACKGROUND */
/* MARGINS */
/* PADDINGS */
/* SHADOWS */
/* MARGIN HORIZONTAL CENTER ALIGN */
/* MARGIN */
/* PADDING */
/* BORDER RADIUS */
/* TRANSITION */
/* RESPONSIVNESS MIXIN */
/* BASE PATH */
/* COLORS */
/* FONT-SIZE (EM/REM) */
/* FONTS WEIGHT */
/* FONTS STYLES */
/* MAIN FONT FAMILY */
/* TEXT POSITIONS */
/* ELEMENT POSITION */
/* POSITIONS */
/* PROPERTIES */
/* DISPLAY */
/* BREAKPOINTS */
/* IMPORT SASS FEATURES */
/* PAGE STYLING */
.portfolio-gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5rem; }
  .portfolio-gallery img {
    width: 100%;
    height: unset; }
  .portfolio-gallery__left > div, .portfolio-gallery__right > div {
    margin-bottom: 5rem; }
  .portfolio-gallery__right {
    margin-left: 5rem; }

.portfolio-video__wrapper iframe {
  width: 100%;
  height: 50rem; }

.content-yellow__bg {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 15rem;
  right: 0;
  height: calc(100% - 30rem);
  background-color: #fcc200; }
  .content-yellow__bg:after {
    background-image: url(../../img/romb.jpg);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

.big-btn-arrow {
  max-width: 51rem; }
