/* ABSTRACTS USE */
/* IMPORT ABSTRACTS */
/* PREFIXES */
/* FONT STYLE */
/* FONTS DISPLAY */
/* ELEMENT FLOAT POSITION */
/* SIZE */
/* BACKGROUND */
/* BORDER */
/* BUTTON */
/* COLOR WITH BACKGROUND */
/* BASE PATH */
/* COLORS */
/* FONTS WEIGHT */
/* FONTS STYLES */
/* MAIN FONT FAMILY */
/* TEXT POSITIONS */
/* POSITIONS */
/* PROPERTIES */
/* BREAKPOINTS */
/* IMPORT SASS FEATURES */
/* PAGE STYLING */
.portfolio-gallery {
  margin-top: 5rem;
  display: flex; }
  .portfolio-gallery img {
    width: 100%; }
  .portfolio-gallery__left > div {
    margin-bottom: 5rem; }
  .portfolio-gallery__right {
    margin-left: 5rem; }
    .portfolio-gallery__right > div {
      margin-bottom: 5rem; }

.portfolio-video__wrapper iframe {
  height: 50rem !important; }

.content-yellow__bg {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 15rem;
  right: 0;
  height: calc(100% - 30rem);
  background-color: #fcc200; }
  .content-yellow__bg:after {
    background-image: url(../../img/romb.jpg);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

.big-btn-arrow {
  max-width: 51rem; }
