/* ABSTRACTS USE */
/* IMPORT ABSTRACTS */
/* PREFIXES */
/* FONT STYLE */
/* ELEMENT FLOAT POSITION */
/* SIZE */
/* BACKGROUND */
/* BORDER */
/* BASE PATH */
/* COLORS */
/* FONTS WEIGHT */
/* FONTS STYLES */
/* MAIN FONT FAMILY */
/* BREAKPOINTS */
/* IMPORT SASS FEATURES */
/* PAGE STYLING */
.vuurwerk-main-content {
  position: relative;
  padding-top: 3.2rem; }
  .vuurwerk-main-content .container {
    z-index: 11; }
  .vuurwerk-main-content img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 4.7rem; }
  .vuurwerk-main-content__bg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    height: calc(100% - 5rem);
    background-color: #fcc200; }
    .vuurwerk-main-content__bg:after {
      background-image: url(../../img/romb.jpg);
      content: '';
      position: absolute;
      width: 100%;
      height: 100%; }
  .vuurwerk-main-content .content-sub-title {
    margin-bottom: 2.9rem; }
  .vuurwerk-main-content .big-btn-arrow {
    width: 90%; }

.vuurwerk-video__wrapper {
  height: 40rem; }
