/* ABSTRACTS USE */
/* IMPORT ABSTRACTS */
/* PREFIXES */
/* FONT STYLE */
/* FONTS DISPLAY */
/* ELEMENT FLOAT POSITION */
/* SIZE */
/* BACKGROUND */
/* BORDER */
/* BUTTON */
/* COLOR WITH BACKGROUND */
/* MARGINS */
/* PADDINGS */
/* SHADOWS */
/* MARGIN HORIZONTAL CENTER ALIGN */
/* MARGIN */
/* PADDING */
/* BORDER RADIUS */
/* TRANSITION */
/* RESPONSIVNESS MIXIN */
/* BASE PATH */
/* COLORS */
/* FONT-SIZE (EM/REM) */
/* FONTS WEIGHT */
/* FONTS STYLES */
/* MAIN FONT FAMILY */
/* TEXT POSITIONS */
/* ELEMENT POSITION */
/* POSITIONS */
/* PROPERTIES */
/* DISPLAY */
/* BREAKPOINTS */
/* IMPORT SASS FEATURES */
/* PAGE STYLING */
.content-yellow__bg {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: auto;
  height: 100%;
  color: transparent;
  background-color: #fcc200; }
  .content-yellow__bg:after {
    background: url(../../img/romb.jpg);
    background-size: auto;
    background-position: unset;
    background-repeat: repeat;
    content: '';
    position: absolute;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
    z-index: unset;
    width: 100%;
    height: 100%; }

.video__wrapper {
  max-width: 820px;
  display: flex;
  flex-direction: column;
  margin: 28rem auto 0 auto;
  position: relative; }
  .video__wrapper iframe {
    display: flex;
    flex-direction: column;
    margin: -24.5rem 0 0 0;
    width: auto;
    height: 50rem; }

.werkwijze-main-content .row {
  max-width: 1030px;
  display: flex;
  flex-direction: column;
  margin: 5.2rem auto 0rem auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }

.werkwijze-main-content .col-md-6 {
  display: flex;
  flex-direction: column;
  margin: 4.3rem 0 4.7rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  .werkwijze-main-content .col-md-6 img {
    margin-right: 2.5rem;
    width: 16rem;
    height: auto; }
  .werkwijze-main-content .col-md-6 .content-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;
    color: #1d1d1b;
    text-align: unset;
    line-height: 1.1;
    margin-bottom: 0; }
  .werkwijze-main-content .col-md-6 p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    color: #1d1d1b;
    text-align: left;
    line-height: unset; }
