/* <-- BASE --> */

body {
    font-family: $main-font, sans-serif;
}

* {
    @include padding-margin(0, 0);
    font-weight: $regular;
    font-family: $main-font;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    position: $relative;
}

html {
    font-size: $html-font-size;
}

body {
    font-size: 100%;
}

button,
input,
select,
textarea {
    outline: none !important;
}

.body-cover {
    @include color(transparent, rgba(0, 0, 0, 0.6));
    @include float-position($fixed, 0, 0, 0, 0);
    transition: all 0.5s ease-in-out;
    z-index: -1;
    opacity: 0;
    &.active {
        z-index: 5555555;
        opacity: 1;
    }
}

%default-btn-arrow {
    position: relative;
    &:after {
        @include background('img/button-right-arrow.svg', 2.2rem 4rem !important);
        @include float-position($absolute, 50%, 1.4rem, unset, unset, true);
        @include size(2.2rem, 4rem);
        transform: translate(0%, -50%);
        transition: all 0.3s;
    }
    &:hover {
        &:after {
            right: 0.8rem;
        }
    }
}

%default-btn {
    @include font-sm-style($inherit, $bold, $italic, $text-left);
    @include button(3rem, $second-color, $main-color, 0.7rem 6.5rem 0.7rem 1.3rem);
    position: relative;
    display: block;
    z-index: 1;
}

.contact-btn {
    @extend %default-btn;
    @extend %default-btn-arrow;
    @include color($black, $main-color);
    @include size(100%);
    margin-top: 3.5rem;
}

.default-shadow {
    @include box-shadow(8px, 7px, 0px, 1px $main-color);
}

.big-btn-arrow {
    @include font-sm-style($inherit, $bold, $italic, $text-left);
    @include button(2.8rem, $black, $white, 2rem 6rem 2.3rem 2rem);
    @extend %default-btn-arrow;
    &:after {
        @include background('img/arrow-right.svg', cover);
    }
    &:hover {
        color: $white;
    }
}

.video__wrapper {
    iframe,
    video {
        @include size(100%, 100%);
        border: none !important;
        outline: none !important;
        font-size: 1rem;
    }
}