/* ABSTRACTS USE */

@import '../abstracts/_use';

/* COMMON MEDIA QUERIES */


/* 1400px - LARGE DESKTOP */

@media screen and (max-width: map-get($breakpoints, 'large-desktop')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(10px, 8px, 9px, 8px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .float-buttons {
        @include float-position($fixed, 25em, 5em, $unset, $unset, 0, 111111);
    }
}


/* 1200px - DEFAULT DESKTOP */

@media screen and (max-width: map-get($breakpoints, 'default-desktop')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(9px, 9px, 8px, 8px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .float-buttons {
        @include float-position($fixed, $unset, 5em, 0em, $unset, 0, 111111);
    }
}


/* UNEXPECTED FOR DEFAULT BREAKPOINTS MEDIA QUERIES */

@media screen and (max-width: 1060px) {
    @include responsive-font-size(8px, 8px, 8px, 6.5px);
}


/* 992px - SMALL DESKTOP */

@media screen and (max-width: map-get($breakpoints, 'small-desktop')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(6.5px, 10px, 7px, 6px);
    /* 
    */
    .content {
        &-text,
        &-span {
            font-size: 2rem;
        }
    }
    .how-section {
        &__left {
            @include padding-top(0rem);
            button {
                @include padding-top(1.35rem);
                @include padding-bottom(1.35rem);
            }
        }
        &__right {
            &-media {
                flex-direction: column;
                >.d-flex {
                    flex-direction: row !important;
                }
            }
        }
        .video {
            &__wrapper {
                iframe {
                    @include size(100%, 40rem);
                }
            }
        }
        &__sm-block {
            &:nth-child(1) {
                margin: 2rem 2.5rem 0rem 0rem;
            }
            &:nth-child(2) {
                margin: 2rem 0rem 0rem 0rem;
            }
        }
    }
}


/* 768PX - TABLETS */

@media screen and (max-width: map-get($breakpoints, 'default-tablet')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(7px, 10px, 8px, 7px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .float-buttons {
        @include float-position($fixed, $unset, 3em, 1em, $unset, 0, 555);
    }
    .contact-btn {
        display: none;
    }
    .top-bar {
        padding: 1rem 0rem;
    }
    .big-btn-arrow {
        font-size: 2.1rem;
        max-width: 50rem;
    }
    /* HOME MODAL FOR ALL PAGES /* NOT MENTIONED HOME PAGE */
    .home-modal {
        &__content {
            @include size(90%);
            &-inner {
                form {
                    flex: 0 1 100%;
                }
                &__right {
                    display: none;
                }
            }
        }
        &__thanks {
            @include flex(row, flex-start, space-between);
            @include size(100%);
            font-size: 1.6rem;
            img {
                @include float-position($relative, 1rem, 0rem);
            }
        }
    }
    .content {
        &-title {
            font-size: 3rem;
        }
        &-text,
        &-span {
            font-size: 1.6rem !important;
        }
    }
}


/* 767PX -1PX IPAD */

@media screen and (max-width: map-get($breakpoints, 'default-tablet')) {
    .top-bar {
        padding: 0rem;
    }
}


/* 578PX - SMALL TABLETS */

@media screen and (max-width: map-get($breakpoints, 'small-tablet')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(9px, $unset, 8px, $unset);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .float-buttons {
        @include float-position($fixed, $unset, 2em, 0em, $unset, 0, 111);
    }
    .content {
        @include margin-left(0rem);
        @include margin-right(0rem);
        &-title {
            font-size: 3rem;
        }
        &-title,
        &-text {
            text-align: $text-left !important;
        }
    }
    .big-btn-arrow {
        font-size: 2.2rem;
        max-width: none;
        @include size(100%);
    }
    .how-section {
        &__right {
            @include margin-left(0rem !important);
            &-media {
                flex-direction: column;
                >.d-flex {
                    flex-direction: row !important;
                }
            }
        }
        &__sm-block {
            margin: 17px 0px 0px 0px;
            padding: 2rem 1.2rem 2.6rem 1.7rem !important;
            @include size(100%);
            &:nth-child(1) {
                @include margin-right(2rem !important);
            }
            span {
                font-size: 2.2rem;
            }
            &:after {
                background-size: 1.8rem 3.2rem !important;
                @include size(1.8rem, 3.2rem);
            }
        }
    }
    .video__wrapper {
        iframe {
            @include size(100%, 30rem !important);
        }
    }
}

@media screen and (max-width: map-get($breakpoints, 'huge-mobile')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(8px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .home-modal {
        &__content {
            padding: 0.8rem 1.5rem 3rem 1.5rem;
        }
    }
    .big-btn-arrow {
        font-size: 2.2rem;
        padding: 1rem 5rem 1.3rem 2rem;
        @include size(100%);
        &:after {
            background-size: 2.2rem 3rem !important;
            @include size(2.2rem, 3rem);
            @include float-position($absolute, 58%, 2rem);
        }
    }
}


/* 360px - SMALL MOBILE */

@media screen and (max-width: map-get($breakpoints, 'small-mobile')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(7px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .content {
        &-text,
        &-span {
            font-size: 1.85rem;
        }
    }
}