/* COMMON MEDIA QUERIES */


/* 1400px - LARGE DESKTOP */

@media screen and (max-width: map-get($breakpoints, 'large-desktop')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(10px, 8px, 9px, 8px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .float-buttons {
        font-size: 8px;
        top: 25em;
        z-index: 111111;
    }
}


/* 1200px - DEFAULT DESKTOP */

@media screen and (max-width: map-get($breakpoints, 'default-desktop')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(9px, 9px, 8px, 8px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .float-buttons {
        top: 20em;
        font-size: 7px;
    }
}


/* UNEXPECTED FOR DEFAULT BREAKPOINTS MEDIA QUERIES */

@media screen and (max-width: 1060px) {
    @include responsive-font-size(8px, 8px, 8px, 6.5px);
}


/* 992px - SMALL DESKTOP */

@media screen and (max-width: map-get($breakpoints, 'small-desktop')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(6.5px, 10px, 7px, 6px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .float-buttons {
        top: 22em;
        font-size: 6px;
    }
}


/* 992px - SMALL DESKTOP <=> 768PX - TABLETS */

@media screen and (min-width: map-get($breakpoints, 'default-tablet')) and (max-width: map-get($breakpoints, 'small-desktop')) {
    .content {
        &-text,
        &-span {
            font-size: 2rem;
        }
    }
}


/* 768PX - TABLETS */

@media screen and (max-width: map-get($breakpoints, 'default-tablet')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(7px, 10px, 8px, 8px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .float-buttons {
        @include float-position($fixed, $unset, 3em, 1em, $unset, 0, 555);
    }
    .contact-btn {
        display: none;
    }
    /* HOME MODAL FOR ALL PAGES /* NOT MENTIONED HOME PAGE */
    .home-modal {
        &__content {
            width: 90%;
            &-inner {
                form {
                    flex: 0 1 100%;
                }
                &__right {
                    display: none;
                }
            }
        }
        &__thanks {
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-size: 1.6rem;
            img {
                position: relative;
                top: 1rem;
                right: 0;
            }
        }
    }
    .content {
        &-text,
        &-span {
            font-size: 2rem;
        }
    }
}


/* 578PX - SMALL TABLETS */

@media screen and (max-width: map-get($breakpoints, 'small-tablet')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(9px, $unset, 8px, $unset);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .float-buttons {
        right: 2em;
        bottom: -1em;
        font-size: 6px;
        top: unset;
    }
    .content {
        margin-left: 0px;
        margin-right: 0px;
        &-title {
            font-size: 3rem;
        }
        .video__wrapper {
            iframe {
                @include size(100%, 35rem);
            }
        }
    }
    .big-btn-arrow {
        font-size: 2.5rem;
        @include size(100% !important);
    }
}

@media screen and (max-width: map-get($breakpoints, 'huge-mobile')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(8px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .home-modal {
        &__content {
            padding: 0.8rem 1.5rem 3rem 1.5rem;
        }
    }
    .float-buttons {
        font-size: 6px;
    }
    .content {
        &-title {
            font-size: 3rem;
        }
        &-text,
        &-span {
            font-size: 1.6rem;
        }
    }
    .big-btn-arrow {
        font-size: 2.5rem;
        width: 100% !important;
        padding: 1rem 5rem 1.3rem 2rem;
        &:after {
            background-size: 2.2rem 3rem !important;
            width: 2.2rem;
            height: 3rem;
            right: 2rem;
            top: 58%;
        }
    }
}


/* 360px - SMALL MOBILE */

@media screen and (max-width: map-get($breakpoints, 'small-mobile')) {
    /* DECREASE EM/REM UNITS */
    /* 
    */
    @include responsive-font-size(7px);
    /* 
    */
    /* DECREASE EM/REM UNITS END */
    .content {
        &-text,
        &-span {
            font-size: 1.85rem;
        }
    }
}