/* COMMON MEDIA QUERIES */

@media screen and (max-width: 1400px) {
    .float-buttons {
        font-size: 8px;
        top: 25em;
        z-index: 111111;
    }
}

@media screen and (max-width: 1200px) {
    .float-buttons {
        top: 20em;
        font-size: 7px;
    }
}

@media screen and (max-width: 992px) {
    .float-buttons {
        top: 22em;
        font-size: 6px;
    }
}

@media screen and (max-width: 768px) {
    .float-buttons {
        right: 7em;
        top: 25em;
        font-size: 5px;
        z-index: 555;
    }
    .contact-btn {
        display: none;
    }
    /* HOME MODAL FOR ALL PAGES /* NOT MENTIONED HOME PAGE */
    .home-modal {
        &__content {
            width: 90%;
            &-inner {
                form {
                    flex: 0 1 100%;
                }
                &__right {
                    display: none;
                }
            }
        }
        &__thanks {
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-size: 1.6rem;
            img {
                position: relative;
                top: 1rem;
                right: 0;
            }
        }
    }
    .content {
        margin: 0px 25px;
        &-text,
        &-span {
            font-size: 2.1rem;
        }
    }
}

@media screen and (max-width: 568px) {
    .float-buttons {
        right: 2em;
        bottom: -1em;
        font-size: 6px;
        top: unset;
    }
    .content {
        margin-left: 0px;
        margin-right: 0px;
        &-title {
            font-size: 3rem;
        }
        &-text,
        &-span {
            font-size: 1.6rem;
        }
    }
    .big-btn-arrow {
        font-size: 1.8rem;
        width: 100% !important;
    }
}

@media screen and (max-width: 480px) {
    .home-modal {
        &__content {
            padding: 0.8rem 1.5rem 3rem 1.5rem;
        }
    }
    .content {
        &-title {
            font-size: 3rem;
        }
        &-text,
        &-span {
            font-size: 1.3rem;
        }
    }
    .big-btn-arrow {
        font-size: 1.6rem;
        width: 100% !important;
        padding: 1rem 5rem 1.3rem 2rem;
        &:after {
            background-size: 2.2rem 3rem !important;
            width: 2.2rem;
            height: 3rem;
            right: 2rem;
            top: 58%;
        }
    }
}