/* ABSTRACTS USE */

@import '../abstracts/_use';

/* <!---- ----> */


/* 768PX - TABLETS */

@media screen and (max-width: map-get($breakpoints, 'default-tablet')) {
    .portfolio-gallery {
        @include flex(column);
        div {
            margin-bottom: 0rem;
        }
        img {
            margin-bottom: 4rem;
        }
        &__right {
            margin-left: 0rem;
        }
    }
    .video__wrapper {
        iframe {
            @include size(100%, 30rem);
        }
    }
}