/* ABSTRACTS USE */

@import '../abstracts/_use';

/* PAGE STYLING */

@media screen and (max-width: map-get($breakpoints, 'default-tablet')) {
    .portfolio-gallery {
        flex-direction: column;
        div {
            margin-bottom: 0;
        }
        img {
            margin-bottom: 4rem;
        }
        &__right {
            margin-left: 0;
        }
    }
    .portfolio-video__wrapper {
        iframe {
            height: 30rem !important;
        }
    }
}