/* ABSTRACTS USE */

@import '../abstracts/_use';

/* PAGE STYLING */

@media screen and (max-width: map-get($breakpoints, 'default-tablet')) {
    .vuurwerk-video__wrapper {
        margin-bottom: 6rem;
    }
    .vuurwerk {
        &-main {
            &-content {
                img {
                    margin: 0 auto 4rem auto;
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: map-get($breakpoints, 'small-tablet')) {
    .vuurwerk-video__wrapper {
        margin-bottom: 0rem;
        iframe {
            height: 33rem;
        }
    }
}