/* ABSTRACTS USE */

@import '../abstracts/_use';

/* PAGE STYLING */


/* 768PX - TABLETS */

@media screen and (max-width: map-get($breakpoints, 'default-tablet')) {
    .content {
        &-yellow {
            &__bg {
                @include size(100%, 100%);
            }
        }
    }
    .vuurwerk {
        &-video {
            &__wrapper {
                margin-bottom: 6rem;
            }
        }
        &-main {
            &-content {
                padding-bottom: 4rem;
                img {
                    margin: 0rem auto 4rem auto !important;
                    display: $block;
                }
                &__bg {
                    @include size(100%, 100%);
                }
            }
        }
    }
}


/* 578PX - SMALL TABLETS */

@media screen and (max-width: map-get($breakpoints, 'small-tablet')) {
    .video__wrapper {
        margin-bottom: -1.5rem;
        iframe {
            @include size(100%, 33rem);
        }
    }
}