/* ABSTRACTS USE */

@import '../abstracts/_use';

/* PAGE STYLING */

@media screen and (max-width: map-get($breakpoints, 'small-tablet')) {
    .werkwijze-main-content {
        .col-md-6 {
            @include padding(0);
            img {
                width: 10rem;
                margin-right: 1rem;
            }
        }
    }
    .werkwijze-text {
        text-align: $text-left !important;
    }
    .werkwijze-video__wrapper {
        margin-top: 20rem;
        iframe {
            margin-top: -15.5rem !important;
            height: 25rem !important;
        }
    }
}