// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@mixin flex($flex-direction: row, $align-items: flex-start, $justify-content: flex-start) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}


/* PREFIXES */

@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}


/* FONT STYLE */

@mixin font-style($size: 1.6rem, $color: #000, $weight: 400, $style: normal, $family: $main-font) {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    color: $color;
}


/* ELEMENT FLOAT POSITION */

@mixin float-position($position: absolute, $top: unset, $right: unset, $bottom: unset, $left: unset, $pseudo: false) {
    @if $pseudo {
        content: '';
    }
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


/* SIZE */

@mixin size($width, $height) {
    width: $width;
    height: $height;
}


/* BACKGROUND */

@mixin background($url, $size: auto, $position: unset, $repeat: no-repeat) {
    background: url(#{$base-path}#{$url});
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}


/* BORDER */

@mixin border($style: solid, $width: 0, $color: transparent) {
    border-style: $style;
    border-color: $color;
    border-width: $width;
}


/* BUTTON */

@mixin button($font-size: 1.6rem, $background-color: $main-color, $color: $black, $padding: 0.8rem 1.2rem, $margin: 0, $text-decoration: none, $border: none) {
    font-size: $font-size;
    background-color: $background-color;
    color: $color;
    padding: $padding;
    margin: $margin;
    text-decoration: $text-decoration !important;
    border: $border;
}