// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* BASE PATH */

$base-path: '../';

/* COLORS */

$main-color: #fcc200;
$white: #FFF;
$black: #000;

/* FONTS WEIGHT */

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/* FONTS STYLES */

$italic: italic;
$normal: normal;

/* MAIN FONT FAMILY */

$main-font: 'Poppins',
sans-serif;

/* TEXT POSITIONS */

$text-left: left;
$text-right: right;
$text-center: center;

/* POSITIONS */

$absolute: absolute;
$relative: relative;
$static: static;
$sticky: sticky;
$fixed: fixed;

/* PROPERTIES */

$inherit: inherit;

/* BREAKPOINTS */