// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* BASE PATH */

$base-path: '../';

/* COLORS */

$main-color: #fcc200;
$white: #FFF;
$black: #000;

/* FONTS WEIGHT */

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/* FONTS STYLES */

$italic: italic;
$normal: normal;

/* MAIN FONT FAMILY */

$main-font: 'Poppins',
sans-serif;

/* TEXT POSITIONS */

$text-left: left;
$text-right: right;
$text-center: center;

/* ELEMENT POSITION */

$element-left: left;
$element-right: right;
$element-center: center;

/* POSITIONS */

$absolute: absolute;
$relative: relative;
$static: static;
$sticky: sticky;
$fixed: fixed;

/* PROPERTIES */

$inherit: inherit;
$unset: unset;

/* BREAKPOINTS */

$breakpoints: ( $xl: 1200px, $lg: 992px, $md: 768px, $sm: 578px, $huge-mobile: 480px, $lg-mobile: 420px, $md-mobile: 375px, $sm-mobile: 360px)