// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* BASE PATH */

$base-path: '../';

/* COLORS */

$main-color: #fcc200;
$second-color: #1d1d1b;
$white: #FFF;
$black: #000;

/* FONT-SIZE (EM/REM) */

$html-font-size: 10px;
$footer-font-size: 10px;
$header-font-size: 10px;

/* FONTS WEIGHT */

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/* FONTS STYLES */

$italic: italic;
$normal: normal;

/* MAIN FONT FAMILY */

$main-font: 'Poppins',
sans-serif;

/* TEXT POSITIONS */

$text-left: left;
$text-right: right;
$text-center: center;

/* ELEMENT POSITION */

$element-left: left;
$element-right: right;
$element-center: center;

/* POSITIONS */

$absolute: absolute;
$relative: relative;
$static: static;
$sticky: sticky;
$fixed: fixed;

/* PROPERTIES */

$inherit: inherit;
$unset: unset;

/* DISPLAY */

$block: block;
$flex: flex;
$inline-block: inline-block;
$inline-flex: inline-flex;

/* BREAKPOINTS */

$breakpoints: ( "large-desktop": 1400px, "default-desktop": 1200px, "small-desktop": 992px, 'default-tablet': 768px, 'small-tablet': 578px, 'huge-mobile': 480px, 'large-mobile': 420px, 'default-mobile': 375px, 'small-mobile': 360px)