$light-gray: #626262;
$lighter-gray: #f8f9fb;
$blue: #1565ea;
$nav-links: #87858f;
$gray: #6a6c75;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$main-font: 'Poppins',
sans-serif;
;
body {
    font-family: 'Poppins', $main-font;
}

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: $main-font;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    position: relative;
}

html {
    font-size: 10px;
}

body {
    font-size: 100%;
}

button,
input,
select {
    outline: none !important;
}

.body-cover {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
    &.active {
        z-index: 5555555;
        opacity: 1;
        transition: 0.5s ease-in-out;
    }
}