.banner {
    &__inner {
        padding: 14.6rem 0rem 10rem 0rem;
    }
    &-title {
        font-size: 4.9rem;
        color: $white;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        display: block;
    }
    &-text {
        color: $white;
        text-align: center;
    }
    &-link {
        color: #000;
        background-color: #f4ba00;
        font-size: 2.8rem;
        font-weight: bold;
        font-style: italic;
    }
}

.portfolio-banner {
    .banner {
        &__inner {
            background: url(../img/portfolio-banner-bg.png);
            background-position: center center !important;
            background-repeat: no-repeat;
        }
    }
}