.banner {
    &__inner {
        padding: 14.6rem 0rem 10rem 0rem;
    }
    &-title {
        @include font-style(4.9rem, $white, $bold, $italic);
        text-align: center;
        display: block;
    }
    &-text {
        color: $white;
        text-align: center;
    }
    &-link {
        @include font-style(2.8rem, $black, $bold, $italic);
        background-color: #f4ba00;
    }
}

.portfolio-banner {
    .banner {
        &__inner {
            @include background('img/portfolio-banner-bg.png', auto, center center !important)
        }
    }
}