.content {
    &-text {
        @include font-sm-style(1.6rem, $regular, $normal, $unset, 1.67);
    }
    &-span {
        @include font-sm-style(1.6rem, $bold, $normal);
        padding-bottom: 0.3rem;
    }
    &-title {
        @include font-style(3.8rem, $black, $bold, $italic, $text-left, 1);
        margin-bottom: 2rem;
        &.yellow-title {
            color: $main-color;
        }
    }
    &-sub-title {
        @include font-sm-style(2rem, $bold, $italic);
    }
    &-left-col {
        flex: 0 1 818px;
    }
    &-right-col {
        flex: 0 1 272px;
        img {
            width: 100%;
            &:nth-child(1) {
                margin-bottom: 4.2rem;
            }
        }
    }
    &-yellow {
        position: $relative;
        .container {
            position: $relative;
            z-index: 111;
        }
        &__block {
            @include flex(row, center, center);
            position: $relative;
            img {
                @include float-position(absolute);
                @include size(100%);
            }
            &-title {
                padding: 15rem 0rem;
                display: block;
            }
        }
    }
}