.footer {
    font-size: 10px;
    &-slider {
        max-width: 930px;
        margin: 0 auto;
        position: relative;
        &__inner {
            &-title {
                font-size: 3.8em;
                font-weight: bold;
                color: #fcc200;
                text-align: center;
                text-shadow: 2px 2.5px 0px rgba(0, 0, 0, 1);
                font-style: italic;
                margin: 2.9rem 0em 3.2rem;
            }
            &-item {
                cursor: pointer;
                img {
                    height: 8.8em !important;
                    width: auto !important;
                    margin: 0 auto;
                }
            }
        }
        &__nav-container {
            position: absolute;
            width: 100%;
            bottom: 65px;
            z-index: 1;
            &-btn {
                position: absolute;
                background-color: transparent;
                border: none;
                outline: none !important;
                background-color: transparent;
                &:first-child {
                    left: -3rem;
                }
                &:last-child {
                    right: -2.7rem;
                }
                img {
                    width: 2.3rem;
                    height: auto;
                }
            }
        }
    }
    &-reviews {
        display: flex;
        position: relative;
        max-width: 850px;
        margin: 0 auto;
        margin-top: 2em;
        img {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 26rem;
        }
        &__content {
            margin-left: auto;
            span {
                position: relative;
                z-index: 1;
                font-size: 3.3em;
                font-weight: bold;
                display: block;
                color: #000;
                line-height: 1.2;
                font-style: italic;
                &:nth-child(1) {
                    margin-top: 2.6rem;
                }
                &:nth-child(2) {
                    margin-left: 11.5rem;
                }
                &:nth-child(3) {
                    margin-left: 6rem;
                }
            }
            p {
                position: relative;
                z-index: 1;
                font-size: 1.8em;
                margin-left: 6.6rem;
                margin-top: 1.9rem;
            }
            &.mobile {
                display: none;
                span {
                    margin-left: 0rem;
                }
            }
        }
        &-btn {
            position: relative;
            z-index: 1;
            font-size: 2.8em;
            color: #1d1d1b !important;
            background-color: #fcc200;
            margin-left: 13rem;
            border: none;
            font-weight: bold;
            font-style: italic;
            padding: 0.7rem 6.5rem 0.7rem 1.3rem;
            text-decoration: none !important;
            margin-bottom: 3.2rem;
            margin-top: 1rem;
            display: block;
            &:after {
                position: absolute;
                content: '';
                background-image: url(#{$base-path}/img/button-right-arrow.svg);
                background-size: 2.2rem 4rem !important;
                width: 2.2rem;
                height: 4rem;
                right: 1.4rem;
                top: 50%;
                transform: translate(0%, -50%);
                transition: all 0.3s;
            }
            &:hover:after {
                right: 0.8rem;
            }
        }
    }
    &-info {
        background-color: #000;
        z-index: 2;
        position: relative;
        &__top {
            position: relative;
            padding: 1.4rem 0em 3.4rem;
            div {
                display: flex;
                align-items: center;
                &:nth-child(2) {
                    justify-content: center;
                }
                &:nth-child(3) {
                    justify-content: center;
                }
            }
            span {
                font-size: 1.9em;
                font-style: italic;
                letter-spacing: 0.37;
                color: $white;
                font-weight: bold;
                text-transform: uppercase;
                margin-right: 0.9rem;
                display: flex;
            }
            a {
                color: #fcc200;
                font-size: 1.7em;
            }
            &-socials {
                img {
                    width: 2rem;
                }
                a:nth-child(2) {
                    margin: 0em 1.3rem;
                }
            }
            &:after {
                position: absolute;
                content: '';
                background-image: url(../img/eco-friendly.svg);
                background-size: 80px !important;
                width: 80px;
                height: 80px;
                right: -11rem;
                top: -1.4rem;
                transition: all 0.3s;
            }
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
            &-item {
                flex: 0 0 20%;
                z-index: 1;
                span {
                    color: $white;
                    font-size: 1.9em;
                    font-weight: bold;
                    font-style: italic;
                    text-transform: uppercase;
                    line-height: 1;
                    margin-bottom: 0.5rem;
                    display: block;
                }
                a,
                p {
                    color: $white;
                    font-size: 1.7rem;
                }
                &:last-child {
                    img {
                        margin-top: 1rem;
                        width: 16.3rem;
                        height: auto;
                        max-height: 0px;
                        transition: 0.5s ease-in-out;
                    }
                    &.active {
                        img {
                            max-height: 500px;
                        }
                    }
                }
            }
        }
        &__nav {
            padding: 3.1rem 0em 1.7rem 0em;
            ul {
                display: flex;
                justify-content: center;
                li {
                    list-style-type: none;
                    font-size: 1.3em;
                    color: $white;
                    a {
                        color: $white;
                        text-decoration: none;
                    }
                    &:nth-child(even) {
                        color: #fcc200;
                        margin: 0em 0.65rem;
                    }
                }
            }
        }
    }
}