.header {
    font-size: 10px;
    &-nav {
        background-color: #fcc200;
        position: relative;
        z-index: 12;
        transition: 0.3s ease-in-out;
        &__logo {
            position: absolute;
            left: 50%;
            bottom: -4.8em;
            transform: translate(-50%, 0%);
            img {
                height: 9.7em;
                width: 9.7em;
            }
        }
    }
    &-mobile-nav {
        padding: 16px 0px 16px 0px;
        background-color: #fcc200;
        display: flex;
        position: relative;
        z-index: 11;
        &__menu {
            display: flex;
            align-items: center;
            font-size: 1.9em;
            p {
                margin-bottom: 0;
                margin-left: 1rem;
            }
        }
        &__logo {
            position: absolute;
            left: 50%;
            bottom: -2.5em;
            transform: translate(-50%, 0%);
            z-index: 111;
            img {
                height: 5em;
                width: 5em;
            }
        }
    }
    &-menu {
        list-style: none;
        padding-left: 0;
        padding: 1.5em 0rem 4.2em;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        a {
            color: $second-color;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.1s ease-in-out;
            white-space: nowrap;
            &.active {
                color: $white !important;
            }
            &:hover~.header-menu__sub {
                max-height: 500px;
                position: absolute;
                li:nth-child(1) {
                    padding-top: 10px;
                }
                li:last-child {
                    padding-bottom: 10px;
                }
                &:after {
                    height: 100%;
                }
            }
            &:hover {
                color: $white !important;
            }
        }
        li {
            transition: 0.2s ease-in-out;
            font-size: 1.9rem;
            cursor: pointer;
            position: relative;
            &.header-menu__splitter {
                margin: 0rem 1.1rem;
                color: $white !important;
            }
        }
        &__sub {
            padding-left: 1rem;
            list-style: none;
            max-height: 0;
            padding-top: 0.5rem;
            overflow: hidden;
            transition: 0.6s ease-in-out;
            position: absolute;
            padding: 0px 20px 0px 20px;
            background-color: #fcc200;
            z-index: 13;
            border-radius: 5px;
            left: -10px;
            a {
                font-size: 1em;
            }
            &:hover {
                max-height: 500px;
                a {
                    transition: 0.1s ease-in-out;
                    &:hover {
                        color: $white !important;
                    }
                }
            }
            li {
                position: relative;
            }
            // &:after {
            //     position: absolute;
            //     right: -100vw;
            //     top: 0;
            //     background-color: #fcc200;
            //     content: '';
            //     width: 200vw;
            //     height: 0%;
            // }
        }
    }
    &-banner {
        padding: 6.4rem 0rem 0rem;
        background-size: cover !important;
        background-position: center center !important;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat !important;
        &__name {
            font-size: 3.5em;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            padding-bottom: 4.6rem;
            display: block;
        }
        &__title {
            font-size: 6em;
            padding-bottom: 9.1rem;
            text-align: center;
            font-weight: bold;
            color: $white;
            text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
            font-style: italic;
            text-transform: uppercase;
        }
        &__breadcrumbs {
            position: absolute;
            left: 15px;
            bottom: 1.2em;
            font-size: 1.2rem;
            color: #919191;
            z-index: 1;
            a {
                color: #919191;
            }
            p {
                display: inline;
            }
            span {
                color: #f4ba00;
            }
        }
        &__cover {
            content: '';
            background-image: url(../img/header-cover.png);
            height: 47px;
            width: 100%;
            background-size: cover;
            position: absolute;
            bottom: -5px;
            left: 0;
            background-position: center;
            &:after {
                content: '';
                width: 10000px;
                height: 47px;
                left: -9992px;
                top: 0;
                position: absolute;
                background-color: $white;
            }
            &::before {
                content: '';
                width: 10000px;
                height: 47px;
                right: -9992px;
                top: 0;
                position: absolute;
                background-color: $white;
            }
        }
    }
    &-video {
        overflow: hidden;
        position: relative;
        .container {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            height: 100%;
        }
        video {
            object-fit: cover;
            width: 100%;
            height: 32.5em;
        }
        &__name {
            position: absolute;
            top: 6.4rem;
            left: 50%;
            transform: translate(-50%, 0%);
            font-size: 3.5em;
            text-transform: uppercase;
            color: $white;
            z-index: 1;
        }
        &__title {
            position: absolute;
            top: 15.2rem;
            left: 50%;
            transform: translate(-50%, 0%);
            font-size: 6em;
            padding-bottom: 9.1rem;
            font-weight: bold;
            color: $white;
            text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
            font-style: italic;
            text-transform: uppercase;
        }
        &__breadcrumbs {
            position: absolute;
            left: 15px;
            bottom: 1.4rem;
            font-size: 1.2em;
            color: #919191;
            z-index: 3;
            a {
                color: #919191;
            }
            p {
                display: inline;
            }
            span {
                color: #f4ba00;
            }
        }
        &__cover {
            content: '';
            background-image: url(../img/header-cover.png);
            height: 47px;
            width: 100%;
            background-size: cover;
            position: absolute;
            bottom: 2px;
            left: 0;
            background-position: center bottom;
            &:after {
                content: '';
                width: 10000px;
                height: 47px;
                left: -9992px;
                top: 0;
                position: absolute;
                background-color: $white;
            }
            &::before {
                content: '';
                width: 10000px;
                height: 47px;
                right: -9992px;
                top: 0;
                position: absolute;
                background-color: $white;
            }
        }
    }
}