.top-bar {
    background-color: #000;
    padding: 0.8rem 0px 1rem 0px;
    position: relative;
    z-index: 111111;
    &__rate-img,
    &__reviews-img {
        max-height: 2.5rem;
        width: auto;
    }
    &__rate-star {
        max-height: 2.3rem;
    }
    &__reviews-link {
        margin-left: 1.2rem;
    }
    &__center-text,
    .typed-cursor {
        font-size: 1.4rem;
        color: #FFF;
        text-align: center;
    }
    &__last-col {
        display: flex;
    }
    &__language {
        position: relative;
        margin-left: 2.4rem;
        &-menu {
            padding-top: 0.5rem;
            position: absolute;
            display: none;
            a {
                margin: 0.8rem 0.5rem 0em 0.5rem;
                &:last-child {
                    margin-bottom: 0.7rem;
                }
            }
            &__inner {
                display: flex;
                flex-direction: column;
                background-color: #1d1d1d;
                border-radius: 0.2rem;
                top: 0;
                left: 0;
            }
        }
        &-selected {
            cursor: pointer;
            flex-direction: column;
            display: flex;
            height: 100%;
            margin-top: 0.2rem;
            &:hover~.top-bar__language-menu {
                display: flex;
                z-index: 2;
            }
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        a {
            margin-right: 0.4rem;
        }
        img {
            max-width: 2.3rem;
        }
        &-mobile {
            img {
                max-width: 4.5rem;
            }
        }
    }
    &__language {
        img {
            max-width: 2.8rem;
        }
        &-selected {
            img {
                max-width: 2.8rem;
                margin-top: auto;
                margin-bottom: auto;
            }
            &:hover~.top-bar__language-menu {
                display: flex
            }
        }
    }
    &__language-menu:hover {
        display: flex;
        z-index: 2;
    }
    &__login {
        font-size: 1.4rem;
        color: #FFF;
        margin-left: 1.4rem;
        a {
            color: #FFF;
            text-decoration: none !important;
            img {
                transition: 0.3s ease;
            }
            img:nth-child(1) {
                max-width: 2rem;
            }
            img:nth-child(2) {
                max-width: 2rem;
            }
            &:hover {
                img:last-child {
                    margin-left: 5px;
                }
            }
        }
    }
}