.burger-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  z-index: 11;
  cursor: pointer;
  border: none;
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 50%;
  transition: 1s;
  opacity: 1;
  transition: 0.2s ease-in-out;
  background-color: transparent;
  display: none; }
  .burger-menu span {
    transition: all 0.3s ease-in-out;
    margin-top: -0.9rem;
    z-index: 111; }
    .burger-menu span:nth-child(1) {
      top: 0em; }
    .burger-menu span:nth-child(2) {
      top: 0.9rem; }
    .burger-menu span:nth-child(3) {
      top: 1.8rem; }
  .burger-menu.active {
    animation-duration: 1s;
    animation-fill-mode: forwards; }
    .burger-menu.active span:nth-child(1) {
      top: 0.85rem;
      animation: top-span 0.15s ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 0.25s;
      background-color: #FFF;
      left: 0 !important; }
    .burger-menu.active span:nth-child(2) {
      height: 0;
      top: 0.85rem; }
    .burger-menu.active span:nth-child(3) {
      top: 0.85rem;
      animation: bottom-span 0.15s ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 0.25s;
      background-color: #FFF; }
  .burger-menu__inner {
    position: absolute;
    left: 25%;
    top: 50%; }

.burger-menu span {
  position: absolute;
  top: 0;
  content: '';
  width: 3.6rem;
  height: 0.3rem;
  border-radius: 0.1rem;
  background-color: #000; }

@keyframes top-span {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(45deg); } }

@keyframes bottom-span {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-45deg); } }
