.header-nav {
    background-color: #fcc200;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.header-nav__logo {
    position: absolute;
    left: 50%;
    bottom: -4.8rem;
    transform: translate(-50%, 0%);
}

.header-nav__logo img {
    height: 9.7rem;
    width: 9.7rem;
}

.header-mobile-nav {
    padding: 16px 0px 16px 0px;
    background-color: #fcc200;
    display: flex;
    position: relative;
}

.header-mobile-nav__menu {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
}

.header-mobile-nav__menu p {
    margin-bottom: 0;
    margin-left: 1rem;
}

.header-mobile-nav__logo {
    position: absolute;
    left: 50%;
    bottom: -2.5rem;
    transform: translate(-50%, 0%);
    z-index: 111;
}

.header-mobile-nav__logo img {
    height: 5rem;
    width: 5rem;
}

.header-menu {
    list-style: none;
    padding-left: 0;
    padding: 1.5rem 0rem 4.2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.header-menu a {
    color: #1d1d1b;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
}

.header-menu a.active {
    $white;
}

.header-menu a:hover~.header-menu__sub {
    max-height: 500px;
    overflow: hidden;
}

.header-menu a:hover {
    $white;
}

.header-menu li {
    font-size: 1.9rem;
    text-align: right;
    cursor: pointer;
}

.header-menu li.header-menu__splitter {
    margin: 0rem 1.1rem;
    $white;
}

.header-menu__sub {
    padding-left: 1rem;
    list-style: none;
    max-height: 0;
    padding-top: 0.5rem;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    position: relative;
}

.header-menu__sub:hover {
    max-height: 500px;
}

.header-menu__sub:hover a {
    transition: 0.1s ease-in-out;
}

.header-menu__sub:hover a:hover {
    $white;
}

.header-menu__sub li {
    position: relative;
}

.header-banner {
    padding: 6.4rem 0rem 0rem;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat !important;
}

.header-banner__name {
    font-size: 3.5rem;
    text-transform: uppercase;
    $white;
    text-align: center;
    padding-bottom: 4.6rem;
    display: block;
}

.header-banner__title {
    font-size: 6rem;
    padding-bottom: 9.1rem;
    text-align: center;
    font-weight: bold;
    $white;
    text-shadow: 3px 3px 0px black;
    font-style: italic;
    text-transform: uppercase;
}

.header-banner__breadcrumbs {
    position: absolute;
    left: 15px;
    bottom: 1.2rem;
    font-size: 1.2rem;
    color: #919191;
    z-index: 1;
}

.header-banner__breadcrumbs a {
    color: #919191;
}

.header-banner__breadcrumbs p {
    display: inline;
}

.header-banner__breadcrumbs span {
    color: #f4ba00;
}

.header-banner__cover {
    content: '';
    background-image: url(../img/header-cover.png);
    height: 47px;
    width: 100%;
    background-size: cover;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-position: center;
}

.header-banner__cover:after {
    content: '';
    width: 10000px;
    height: 47px;
    left: -9992px;
    top: 0;
    position: absolute;
    background-$white;
}

.header-banner__cover::before {
    content: '';
    width: 10000px;
    height: 47px;
    right: -9992px;
    top: 0;
    position: absolute;
    background-$white;
}

.header-video {
    overflow: hidden;
    position: relative;
}

.header-video .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100%;
}

.header-video video {
    object-fit: cover;
    width: 100%;
    height: 32.5rem;
}

.header-video__name {
    position: absolute;
    top: 6.4rem;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 3.5rem;
    text-transform: uppercase;
    $white;
    z-index: 1;
}

.header-video__title {
    position: absolute;
    top: 15.2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 6rem;
    padding-bottom: 9.1rem;
    font-weight: bold;
    $white;
    text-shadow: 3px 3px 0px black;
    font-style: italic;
    text-transform: uppercase;
}

.header-video__breadcrumbs {
    position: absolute;
    left: 15px;
    bottom: 1.4rem;
    font-size: 1.2rem;
    color: #919191;
    z-index: 3;
}

.header-video__breadcrumbs a {
    color: #919191;
}

.header-video__breadcrumbs p {
    display: inline;
}

.header-video__breadcrumbs span {
    color: #f4ba00;
}

.header-video__cover {
    content: '';
    background-image: url(../img/header-cover.png);
    height: 47px;
    width: 100%;
    background-size: cover;
    position: absolute;
    bottom: 2px;
    left: 0;
    background-position: center bottom;
}

.header-video__cover:after {
    content: '';
    width: 10000px;
    height: 47px;
    left: -9992px;
    top: 0;
    position: absolute;
    background-$white;
}

.header-video__cover::before {
    content: '';
    width: 10000px;
    height: 47px;
    right: -9992px;
    top: 0;
    position: absolute;
    background-$white;
}