@media screen and (max-width: 1400px) {
  .footer {
    font-size: 8px; }
    .footer-info__top:after {
      top: -11rem;
      right: 0; } }

@media screen and (max-width: 1200px) {
  html {
    font-size: 9px; }
  .footer {
    font-size: 8px; }
    .footer-info__top a,
    .footer-info__top span {
      font-size: 1.6rem; }
  .header-banner__cover {
    bottom: unset;
    height: 33px; }
  .header-video__cover {
    height: 33px; } }

@media screen and (max-width: 1060px) {
  html {
    font-size: 8px; } }

@media screen and (max-width: 992px) {
  html {
    font-size: 6.5px; }
  .footer {
    font-size: 6px; }
    .footer-slider {
      width: 60%; }
      .footer-slider__nav-container-btn:first-child {
        left: -30px;
        top: 22px; }
      .footer-slider__nav-container-btn:last-child {
        right: -30px;
        top: 22px; }
    .footer-info__top .col-12 {
      display: flex;
      justify-content: flex-start !important;
      padding: 0px 15px 3px 15px !important; }
    .footer-info__top:after {
      height: 5.3rem;
      width: 5.3rem;
      right: 2.2rem;
      top: -2.5rem;
      background-size: cover !important; }
  .footer-reviews {
    max-width: 550px; }
  .header-video__cover {
    height: 28px;
    bottom: 1.5px; } }

@media screen and (max-width: 768px) {
  .footer-slider {
    width: 80%; }
  .footer-info .container {
    padding: 0; }
  .footer-info__top {
    padding: 15px 15px; }
    .footer-info__top div:nth-child(2), .footer-info__top div:nth-child(3) {
      justify-content: flex-start; }
  .footer-info__bottom {
    flex-direction: column; }
    .footer-info__bottom-item__container {
      border-top: solid 1px #6f6f6e;
      border-bottom: solid 1px #6f6f6e;
      display: flex;
      justify-content: center;
      transition: all 0.5s ease-in-out;
      margin-bottom: -10px; }
      .footer-info__bottom-item__container span {
        cursor: pointer; }
      .footer-info__bottom-item__container.active {
        transition: all 0.3s ease-in-out;
        border-bottom: solid 1px transparent; }
      .footer-info__bottom-item__container.active ~ p {
        transition: 0.6s;
        opacity: 1;
        max-height: 500px;
        padding: 10px 15px 10px 15px;
        cursor: pointer; }
      .footer-info__bottom-item__container.active ~ p img {
        max-height: 500px; }
    .footer-info__bottom-item p {
      max-height: 0;
      opacity: 0;
      transition: 0.4s ease;
      padding: 0px 10px 10px 15px;
      margin: 0; }
    .footer-info__bottom-item:nth-child(2) span:nth-child(1) {
      display: none; }
    .footer-info__bottom-item:nth-child(2) span:nth-child(2) {
      display: block !important; }
    .footer-info__bottom div span {
      background-color: #000;
      text-align: center;
      font-size: 2.5rem;
      padding: 1rem 0rem;
      white-space: nowrap;
      position: relative;
      margin-bottom: 0; }
      .footer-info__bottom div span:after {
        content: '';
        background-image: url(../img/mobile-footer-icon.svg);
        height: 13px;
        width: 7px;
        background-size: cover;
        position: absolute;
        top: 50%;
        margin-top: -6.5px;
        right: -15px;
        transition: all 0.3s ease-in-out; }
      .footer-info__bottom div span:hover:after {
        right: -23px; }
    .footer-info__bottom div p {
      font-size: 1.6rem; }
    .footer-info__bottom div a {
      font-size: 1.6rem; }
    .footer-info__bottom div:last-child p {
      flex-direction: column;
      display: flex; }
  .top-bar {
    padding-left: 0;
    padding-right: 0; }
    .top-bar .container {
      padding: 0; }
    .top-bar__last-col {
      padding: 0px 19px 0px 0px;
      align-items: center;
      justify-content: space-between; }
    .top-bar__socials-mobile a:nth-child(1), .top-bar__socials-mobile a:nth-child(2) {
      margin-right: -1px; }
  .header-nav {
    position: fixed;
    left: 0;
    top: -20px;
    background-color: #fcc200;
    width: 100vw;
    height: calc(100vh + 60px);
    z-index: 555;
    transform: translateX(-110%);
    transition: 0.6s ease;
    align-items: center;
    display: flex; }
    .header-nav.active {
      transform: translateX(0); }
  .header-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .header-mobile-nav {
    display: flex !important;
    z-index: 1111111 !important; }
    .header-mobile-nav .top-bar__language {
      display: flex !important; }
    .header-mobile-nav .burger-menu {
      display: block; }
    .header-mobile-nav a {
      transition: 0.5s; }
    .header-mobile-nav.active a {
      opacity: 0; }
  .footer-slider__nav-container-btn:first-child {
    left: -30px;
    top: 25px; }
  .footer-slider__nav-container-btn:last-child {
    right: -30px;
    top: 25px; } }

@media screen and (max-width: 767px) {
  .top-bar {
    padding: 0; } }

@media screen and (max-width: 568px) {
  html,
  .footer {
    font-size: 10px; }
  .header-banner {
    padding-top: 3.6rem; }
    .header-banner__title {
      font-size: 3rem;
      text-shadow: 3px 3px 0px black;
      padding-bottom: 4rem; }
    .header-banner__name {
      font-size: 2.5rem; }
    .header-banner__breadcrumbs {
      display: none; }
  .header-video video {
    height: 19rem; }
  .header-video__cover {
    height: 27px; }
  .header-video__title {
    top: 11.4rem;
    font-size: 3rem; }
  .header-video__name {
    top: 3.7rem;
    font-size: 2.5rem; }
  .header-video__breadcrumbs {
    display: none; }
  .header-nav__logo {
    bottom: -2.8rem;
    display: none; }
    .header-nav__logo img {
      width: 5.6rem;
      height: 5.6rem; }
  .footer-info__bottom div span {
    font-size: 1.8rem; }
  .footer-info__nav ul li {
    font-size: 1.3rem; }
  .footer-reviews img {
    position: absolute;
    left: -8rem;
    bottom: 0;
    height: 23.3rem; }
  .footer-reviews__content {
    display: none;
    width: auto; }
    .footer-reviews__content span {
      font-size: 2.2rem;
      line-height: 1; }
      .footer-reviews__content span:nth-child(1) {
        margin-left: 0.4rem;
        margin-top: 2.3rem; }
      .footer-reviews__content span:nth-child(2) {
        margin-left: 3.6rem; }
      .footer-reviews__content span:nth-child(3) {
        margin-left: 2.9rem; }
      .footer-reviews__content span:nth-child(4) {
        margin-left: 3.7rem; }
      .footer-reviews__content span:nth-child(5) {
        margin-left: 10.2rem; }
    .footer-reviews__content p {
      margin: 1rem 0rem 0rem 5.3rem;
      font-size: 1.1rem; }
    .footer-reviews__content.mobile {
      display: block; }
  .footer-reviews-btn {
    font-size: 1.5rem;
    margin-left: 3.5rem;
    padding: 0.4rem 3.5rem 0.4rem 1.3rem;
    margin-bottom: 3.8rem; }
    .footer-reviews-btn:after {
      width: 100%;
      height: 2.1rem;
      width: 3rem;
      background-size: 3rem 2.1rem !important;
      right: 5px; }
    .footer-reviews-btn:hover:after {
      right: 0px; }
  .footer-slider__inner-item img {
    height: 6rem !important; }
  .footer-slider__nav-container-btn img {
    width: 1.8rem; }
  .footer-slider__nav-container-btn:first-child {
    left: -30px;
    top: 15px; }
  .footer-slider__nav-container-btn:last-child {
    right: -30px;
    top: 15px; }
  .footer h3 {
    font-size: 3rem; } }

@media screen and (max-width: 480px) {
  .footer-slider__inner-item img {
    height: 4.5rem !important; }
  .footer-slider__nav-container-btn img {
    width: 1.5rem; }
  .footer-slider__nav-container-btn:first-child {
    left: -40px;
    top: 30px; }
  .footer-slider__nav-container-btn:last-child {
    right: -40px;
    top: 30px; }
  .footer-reviews__content {
    width: auto; }
    .footer-reviews__content span {
      font-size: 1.8rem !important; }
    .footer-reviews__content p {
      font-size: 1.1rem !important; } }

@media screen and (max-width: 360px) {
  html,
  footer {
    font-size: 7px; }
  .header-banner__name {
    padding-bottom: 2.6rem; }
  .header-video__cover {
    height: 17px; }
  .header-video__title {
    top: 10.2rem; }
  .top-bar__socials-mobile {
    width: 5rem; }
  .footer-slider {
    width: 80%; }
    .footer-slider__nav-container-btn img {
      width: 1.8rem; }
    .footer-slider__nav-container-btn:first-child {
      left: -30px;
      top: 38px; }
    .footer-slider__nav-container-btn:last-child {
      right: -30px;
      top: 38px; } }
