body {
  font-family: "Poppins", "Poppins", sans-serif; }

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Poppins", sans-serif; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  position: relative; }

html {
  font-size: 10px; }

body {
  font-size: 100%; }

button {
  outline: none !important; }

.top-bar {
  background-color: #000;
  padding: 0.8rem 0px 1rem 0px;
  position: relative;
  z-index: 111111; }
  .top-bar__rate-img, .top-bar__reviews-img {
    max-height: 2.5rem;
    width: auto; }
  .top-bar__reviews-link {
    margin-left: 1.2rem; }
  .top-bar__center-text,
  .top-bar .typed-cursor {
    font-size: 1.4rem;
    color: #FFF;
    text-align: center; }
  .top-bar__last-col {
    display: flex; }
  .top-bar__language {
    position: relative;
    margin-left: 2.4rem; }
    .top-bar__language-menu {
      padding-top: 0.5rem;
      position: absolute;
      display: none; }
      .top-bar__language-menu a {
        margin: 0.8rem 0.5rem 0em 0.5rem; }
        .top-bar__language-menu a:last-child {
          margin-bottom: 0.7rem; }
      .top-bar__language-menu__inner {
        display: flex;
        flex-direction: column;
        background-color: #1d1d1d;
        border-radius: 0.2rem;
        top: 0;
        left: 0; }
    .top-bar__language-selected {
      cursor: pointer;
      flex-direction: column;
      display: flex;
      height: 100%;
      margin-top: 0.2rem; }
      .top-bar__language-selected:hover ~ .top-bar__language-menu {
        display: flex;
        z-index: 2; }
  .top-bar__socials {
    display: flex;
    align-items: center; }
    .top-bar__socials a {
      margin-right: 0.4rem; }
    .top-bar__socials img {
      max-width: 2.3rem; }
  .top-bar__language img {
    max-width: 2.8rem; }
  .top-bar__language-selected img {
    max-width: 2.8rem;
    margin-top: auto;
    margin-bottom: auto; }
  .top-bar__language-selected:hover ~ .top-bar__language-menu {
    display: flex; }
  .top-bar__language-menu:hover {
    display: flex;
    z-index: 2; }
  .top-bar__login {
    font-size: 1.4rem;
    color: #FFF;
    margin-left: 1.4rem; }
    .top-bar__login a {
      color: #FFF;
      text-decoration: none !important; }
      .top-bar__login a img {
        transition: 0.3s ease; }
      .top-bar__login a img:nth-child(1) {
        max-width: 2rem; }
      .top-bar__login a img:nth-child(2) {
        max-width: 2rem; }
      .top-bar__login a:hover img:last-child {
        margin-left: 5px; }

.header-nav {
  background-color: #fcc200;
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in-out; }
  .header-nav__logo {
    position: absolute;
    left: 50%;
    bottom: -4.8rem;
    transform: translate(-50%, 0%); }
    .header-nav__logo img {
      height: 9.7rem;
      width: 9.7rem; }

.header-mobile-nav {
  padding: 16px 0px 16px 0px;
  background-color: #fcc200;
  display: flex;
  position: relative; }
  .header-mobile-nav__menu {
    display: flex;
    align-items: center;
    font-size: 1.9rem; }
    .header-mobile-nav__menu p {
      margin-bottom: 0;
      margin-left: 1rem; }
  .header-mobile-nav__logo {
    position: absolute;
    left: 50%;
    bottom: -2.5rem;
    transform: translate(-50%, 0%);
    z-index: 111; }
    .header-mobile-nav__logo img {
      height: 5rem;
      width: 5rem; }

.header-menu {
  list-style: none;
  padding-left: 0;
  padding: 1.5rem 0rem 4.2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0; }
  .header-menu a {
    color: #1d1d1b;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.1s ease-in-out; }
    .header-menu a.active {
      color: #FFF; }
    .header-menu a:hover ~ .header-menu__sub {
      max-height: 500px;
      overflow: hidden; }
    .header-menu a:hover {
      color: #FFF; }
  .header-menu li {
    font-size: 1.9rem;
    text-align: right;
    cursor: pointer; }
    .header-menu li.header-menu__splitter {
      margin: 0rem 1.1rem;
      color: #FFF; }
  .header-menu__sub {
    padding-left: 1rem;
    list-style: none;
    max-height: 0;
    padding-top: 0.5rem;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    position: relative; }
    .header-menu__sub:hover {
      max-height: 500px; }
      .header-menu__sub:hover a {
        transition: 0.1s ease-in-out; }
        .header-menu__sub:hover a:hover {
          color: #FFF; }
    .header-menu__sub li {
      position: relative; }

.header-banner {
  padding: 6.4rem 0rem 0rem;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat !important; }
  .header-banner__name {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    padding-bottom: 4.6rem;
    display: block; }
  .header-banner__title {
    font-size: 6rem;
    padding-bottom: 9.1rem;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    text-shadow: 3px 3px 0px black;
    font-style: italic;
    text-transform: uppercase; }
  .header-banner__breadcrumbs {
    position: absolute;
    left: 15px;
    bottom: 1.2rem;
    font-size: 1.2rem;
    color: #919191;
    z-index: 1; }
    .header-banner__breadcrumbs a {
      color: #919191; }
    .header-banner__breadcrumbs p {
      display: inline; }
    .header-banner__breadcrumbs span {
      color: #f4ba00; }
  .header-banner__cover {
    content: '';
    background-image: url(../img/header-cover.png);
    height: 47px;
    width: 100%;
    background-size: cover;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-position: center; }
    .header-banner__cover:after {
      content: '';
      width: 10000px;
      height: 47px;
      left: -9992px;
      top: 0;
      position: absolute;
      background-color: #FFF; }
    .header-banner__cover::before {
      content: '';
      width: 10000px;
      height: 47px;
      right: -9992px;
      top: 0;
      position: absolute;
      background-color: #FFF; }

.header-video {
  overflow: hidden;
  position: relative; }
  .header-video .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100%; }
  .header-video video {
    object-fit: cover;
    width: 100%;
    height: 32.5rem; }
  .header-video__name {
    position: absolute;
    top: 6.4rem;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #FFF;
    z-index: 1; }
  .header-video__title {
    position: absolute;
    top: 15.2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 6rem;
    padding-bottom: 9.1rem;
    font-weight: bold;
    color: #FFF;
    text-shadow: 3px 3px 0px black;
    font-style: italic;
    text-transform: uppercase; }
  .header-video__breadcrumbs {
    position: absolute;
    left: 15px;
    bottom: 1.4rem;
    font-size: 1.2rem;
    color: #919191;
    z-index: 3; }
    .header-video__breadcrumbs a {
      color: #919191; }
    .header-video__breadcrumbs p {
      display: inline; }
    .header-video__breadcrumbs span {
      color: #f4ba00; }
  .header-video__cover {
    content: '';
    background-image: url(../img/header-cover.png);
    height: 47px;
    width: 100%;
    background-size: cover;
    position: absolute;
    bottom: 2px;
    left: 0;
    background-position: center bottom; }
    .header-video__cover:after {
      content: '';
      width: 10000px;
      height: 47px;
      left: -9992px;
      top: 0;
      position: absolute;
      background-color: #FFF; }
    .header-video__cover::before {
      content: '';
      width: 10000px;
      height: 47px;
      right: -9992px;
      top: 0;
      position: absolute;
      background-color: #FFF; }

.burger-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  z-index: 11111;
  cursor: pointer;
  border: none;
  width: 3.6rem;
  height: 2.2rem;
  border-radius: 50%;
  transition: 1s;
  opacity: 1;
  transition: 0.2s ease-in-out;
  background-color: transparent;
  display: none; }
  .burger-menu span {
    transition: all 0.3s ease-in-out;
    margin-top: 0rem;
    z-index: 111; }
    .burger-menu span:nth-child(1) {
      top: 0em; }
    .burger-menu span:nth-child(2) {
      top: 0.9rem; }
    .burger-menu span:nth-child(3) {
      top: 1.8rem; }
  .burger-menu.active {
    animation-duration: 1s;
    animation-fill-mode: forwards; }
    .burger-menu.active span:nth-child(1) {
      top: 0.85rem;
      animation: top-span 0.15s ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 0.25s;
      left: 0 !important; }
    .burger-menu.active span:nth-child(2) {
      height: 0;
      top: 0.85rem; }
    .burger-menu.active span:nth-child(3) {
      top: 0.85rem;
      animation: bottom-span 0.15s ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 0.25s; }
  .burger-menu__inner {
    position: absolute;
    left: 0%;
    top: 50%; }

.burger-menu span {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 3.6rem;
  height: 0.3rem;
  border-radius: 0.1rem;
  background-color: #000; }

@keyframes top-span {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(45deg); } }

@keyframes bottom-span {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-45deg); } }

.footer {
  font-size: 10px; }
  .footer-slider {
    max-width: 930px;
    margin: 0 auto;
    position: relative; }
    .footer-slider__inner-title {
      font-size: 3.8em;
      font-weight: bold;
      color: #fcc200;
      text-align: center;
      text-shadow: 2px 2.5px 0px black;
      font-style: italic;
      margin: 2.9rem 0em 3.2rem; }
    .footer-slider__inner-item {
      cursor: pointer; }
      .footer-slider__inner-item img {
        height: 8.8em !important;
        width: auto !important;
        margin: 0 auto; }
    .footer-slider__nav-container {
      position: absolute;
      width: 100%;
      bottom: 65px;
      z-index: 1; }
      .footer-slider__nav-container-btn {
        position: absolute;
        background-color: transparent;
        border: none;
        outline: none !important;
        background-color: transparent; }
        .footer-slider__nav-container-btn:first-child {
          left: -3rem; }
        .footer-slider__nav-container-btn:last-child {
          right: -2.7rem; }
        .footer-slider__nav-container-btn img {
          width: 2.3rem;
          height: auto; }
  .footer-reviews {
    display: flex;
    position: relative;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 2em; }
    .footer-reviews img {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 26rem; }
    .footer-reviews__content {
      margin-left: auto; }
      .footer-reviews__content span {
        position: relative;
        z-index: 1;
        font-size: 3.3em;
        font-weight: bold;
        display: block;
        color: #000;
        line-height: 1.2;
        font-style: italic; }
        .footer-reviews__content span:nth-child(1) {
          margin-top: 2.6rem; }
        .footer-reviews__content span:nth-child(2) {
          margin-left: 11.5rem; }
        .footer-reviews__content span:nth-child(3) {
          margin-left: 6rem; }
      .footer-reviews__content p {
        position: relative;
        z-index: 1;
        font-size: 1.8em;
        margin-left: 6.6rem;
        margin-top: 1.9rem; }
      .footer-reviews__content.mobile {
        display: none; }
        .footer-reviews__content.mobile span {
          margin-left: 0rem; }
    .footer-reviews-btn {
      position: relative;
      z-index: 1;
      font-size: 2.8em;
      color: #1d1d1b !important;
      background-color: #fcc200;
      margin-left: 13rem;
      border: none;
      font-weight: bold;
      font-style: italic;
      padding: 0.7rem 6.5rem 0.7rem 1.3rem;
      text-decoration: none !important;
      margin-bottom: 3.2rem;
      margin-top: 1rem;
      display: block; }
      .footer-reviews-btn:after {
        position: absolute;
        content: '';
        background-image: url(../img/button-right-arrow.svg);
        background-size: 2.2rem 4rem !important;
        width: 2.2rem;
        height: 4rem;
        right: 1.4rem;
        top: 50%;
        transform: translate(0%, -50%);
        transition: all 0.3s; }
      .footer-reviews-btn:hover:after {
        right: 0.8rem; }
  .footer-info {
    background-color: #000;
    z-index: 2;
    position: relative; }
    .footer-info__top {
      position: relative;
      padding: 1.4rem 0em 3.4rem; }
      .footer-info__top div {
        display: flex;
        align-items: center; }
        .footer-info__top div:nth-child(2) {
          justify-content: center; }
        .footer-info__top div:nth-child(3) {
          justify-content: center; }
      .footer-info__top span {
        font-size: 1.9em;
        font-style: italic;
        letter-spacing: 0.37;
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 0.9rem;
        display: flex; }
      .footer-info__top a {
        color: #fcc200;
        font-size: 1.7em; }
      .footer-info__top-socials img {
        width: 2rem; }
      .footer-info__top-socials a:nth-child(2) {
        margin: 0em 1.3rem; }
      .footer-info__top:after {
        position: absolute;
        content: '';
        background-image: url(../img/eco-friendly.svg);
        background-size: 80px !important;
        width: 80px;
        height: 80px;
        right: -11rem;
        top: -1.4rem;
        transition: all 0.3s; }
    .footer-info__bottom {
      display: flex;
      justify-content: space-between; }
      .footer-info__bottom-item {
        flex: 0 0 20%; }
        .footer-info__bottom-item span {
          color: #FFF;
          font-size: 1.9em;
          font-weight: bold;
          font-style: italic;
          text-transform: uppercase;
          line-height: 1;
          margin-bottom: 0.5rem;
          display: block; }
        .footer-info__bottom-item a,
        .footer-info__bottom-item p {
          color: #FFF;
          font-size: 1.7rem; }
        .footer-info__bottom-item:last-child img {
          margin-top: 1rem;
          width: 16.3rem;
          height: auto;
          max-height: 0px;
          transition: 0.5s ease-in-out; }
        .footer-info__bottom-item:last-child.active img {
          max-height: 500px; }
    .footer-info__nav {
      padding: 3.1rem 0em 1.7rem 0em; }
      .footer-info__nav ul {
        display: flex;
        justify-content: center; }
        .footer-info__nav ul li {
          list-style-type: none;
          font-size: 1.3em;
          color: #FFF; }
          .footer-info__nav ul li a {
            color: #FFF;
            text-decoration: none; }
          .footer-info__nav ul li:nth-child(even) {
            color: #fcc200;
            margin: 0em 0.65rem; }

@media screen and (max-width: 1400px) {
  .footer {
    font-size: 8px; }
    .footer-info__top:after {
      top: -11rem;
      right: 0; } }

@media screen and (max-width: 1200px) {
  html {
    font-size: 9px; }
  .footer {
    font-size: 8px; }
    .footer-info__top a,
    .footer-info__top span {
      font-size: 1.6rem; }
    .footer-slider__nav-container-btn img {
      width: 1.8rem; }
    .footer-slider__nav-container-btn:first-child {
      left: -30px;
      top: 15px; }
    .footer-slider__nav-container-btn:last-child {
      right: -30px;
      top: 15px; }
  .header-banner__cover {
    bottom: unset;
    height: 33px; }
  .header-video__cover {
    height: 33px; } }

@media screen and (max-width: 1060px) {
  html {
    font-size: 8px; } }

@media screen and (max-width: 992px) {
  html {
    font-size: 6.5px; }
  .footer {
    font-size: 6px; }
    .footer-slider {
      width: 60%; }
      .footer-slider__nav-container-btn:first-child {
        left: -30px;
        top: 26px; }
      .footer-slider__nav-container-btn:last-child {
        right: -30px;
        top: 26px; }
    .footer-info__top .col-12 {
      display: flex;
      justify-content: flex-start !important;
      padding: 0px 15px 3px 15px !important; }
    .footer-info__top:after {
      height: 5.3rem;
      width: 5.3rem;
      right: 2.2rem;
      top: -2.5rem;
      background-size: cover !important; }
  .footer-reviews {
    max-width: 550px; }
  .header-video__cover {
    height: 28px;
    bottom: 1.5px; } }

@media screen and (max-width: 768px) {
  .footer-slider {
    width: 80%; }
  .footer-info .container {
    padding: 0; }
  .footer-info__top {
    padding: 15px 15px; }
    .footer-info__top div:nth-child(2), .footer-info__top div:nth-child(3) {
      justify-content: flex-start; }
  .footer-info__bottom {
    flex-direction: column; }
    .footer-info__bottom-item__container {
      border-top: solid 1px #6f6f6e;
      border-bottom: solid 1px #6f6f6e;
      display: flex;
      justify-content: center;
      transition: all 0.5s ease-in-out;
      margin-bottom: -10px; }
      .footer-info__bottom-item__container span {
        cursor: pointer; }
      .footer-info__bottom-item__container.active {
        transition: all 0.3s ease-in-out;
        border-bottom: solid 1px transparent; }
      .footer-info__bottom-item__container.active ~ p {
        transition: 0.6s;
        opacity: 1;
        max-height: 500px;
        padding: 10px 15px 10px 15px;
        cursor: pointer; }
      .footer-info__bottom-item__container.active ~ p img {
        max-height: 500px; }
    .footer-info__bottom-item p {
      max-height: 0;
      opacity: 0;
      transition: 0.4s ease;
      padding: 0px 10px 10px 15px;
      margin: 0; }
    .footer-info__bottom-item:nth-child(2) span:nth-child(1) {
      display: none; }
    .footer-info__bottom-item:nth-child(2) span:nth-child(2) {
      display: block !important; }
    .footer-info__bottom div span {
      background-color: #000;
      text-align: center;
      font-size: 2.5rem;
      padding: 1rem 0rem;
      white-space: nowrap;
      position: relative;
      margin-bottom: 0; }
      .footer-info__bottom div span:after {
        content: '';
        background-image: url(../img/mobile-footer-icon.svg);
        height: 13px;
        width: 7px;
        background-size: cover;
        position: absolute;
        top: 50%;
        margin-top: -6.5px;
        right: -15px;
        transition: all 0.3s ease-in-out; }
      .footer-info__bottom div span:hover:after {
        right: -23px; }
    .footer-info__bottom div p {
      font-size: 1.6rem; }
    .footer-info__bottom div a {
      font-size: 1.6rem; }
    .footer-info__bottom div:last-child p {
      flex-direction: column;
      display: flex; }
  .top-bar {
    padding-left: 0;
    padding-right: 0; }
    .top-bar .container {
      padding: 0; }
    .top-bar__last-col {
      padding: 0px 19px 0px 0px;
      align-items: center;
      justify-content: space-between; }
    .top-bar__socials-mobile a:nth-child(1), .top-bar__socials-mobile a:nth-child(2) {
      margin-right: -1px; }
  .header-nav {
    position: fixed;
    left: 0;
    top: 0px;
    background-color: #fcc200;
    width: 100vw;
    z-index: 555;
    transform: translateX(-110%);
    transition: 0.6s ease;
    align-items: center;
    display: flex; }
    .header-nav.active {
      transform: translateX(0); }
      .header-nav.active img {
        display: none; }
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .header-menu__splitter {
      margin: 0 !important; }
    .header-menu li {
      text-align: left; }
    .header-menu__sub {
      max-height: 1500px;
      opacity: 1;
      padding-left: 2rem; }
    .header-menu__container {
      overflow-y: scroll;
      height: calc(100vh - 100px);
      margin-top: 100px;
      padding-bottom: 45px; }
      .header-menu__container::-webkit-scrollbar {
        display: none; }
  .header-mobile-nav {
    display: flex !important;
    z-index: 1111111 !important; }
    .header-mobile-nav .top-bar__language {
      display: flex !important; }
    .header-mobile-nav .burger-menu {
      display: block; }
    .header-mobile-nav a {
      transition: 0.5s; }
    .header-mobile-nav.active a {
      opacity: 0; }
  .footer-slider__nav-container-btn:first-child {
    left: -30px;
    top: 25px; }
  .footer-slider__nav-container-btn:last-child {
    right: -30px;
    top: 25px; } }

@media screen and (max-width: 767px) {
  .top-bar {
    padding: 0; } }

@media screen and (max-width: 568px) {
  html,
  .footer {
    font-size: 10px; }
  .header-banner {
    padding-top: 3.6rem; }
    .header-banner__title {
      font-size: 3rem;
      text-shadow: 3px 3px 0px black;
      padding-bottom: 4rem; }
    .header-banner__name {
      font-size: 2.5rem; }
    .header-banner__breadcrumbs {
      display: none; }
  .header-video video {
    height: 19rem; }
  .header-video__cover {
    height: 27px; }
  .header-video__title {
    top: 11.4rem;
    font-size: 3rem; }
  .header-video__name {
    top: 3.7rem;
    font-size: 2.5rem; }
  .header-video__breadcrumbs {
    display: none; }
  .header-nav__logo {
    bottom: -2.8rem;
    display: none; }
    .header-nav__logo img {
      width: 5.6rem;
      height: 5.6rem; }
  .footer-info__bottom div span {
    font-size: 1.8rem; }
  .footer-info__nav ul li {
    font-size: 1.3rem; }
  .footer-reviews img {
    position: absolute;
    left: -8rem;
    bottom: 0;
    height: 23.3rem; }
  .footer-reviews__content {
    display: none;
    width: auto; }
    .footer-reviews__content span {
      font-size: 2.2rem;
      line-height: 1; }
      .footer-reviews__content span:nth-child(1) {
        margin-left: 0.4rem;
        margin-top: 2.3rem; }
      .footer-reviews__content span:nth-child(2) {
        margin-left: 3.6rem; }
      .footer-reviews__content span:nth-child(3) {
        margin-left: 2.9rem; }
      .footer-reviews__content span:nth-child(4) {
        margin-left: 3.7rem; }
      .footer-reviews__content span:nth-child(5) {
        margin-left: 10.2rem; }
    .footer-reviews__content p {
      margin: 1rem 0rem 0rem 5.3rem;
      font-size: 1.1rem; }
    .footer-reviews__content.mobile {
      display: block; }
  .footer-reviews-btn {
    font-size: 1.5rem;
    margin-left: 3.5rem;
    padding: 0.4rem 3.5rem 0.4rem 1.3rem;
    margin-bottom: 3.8rem; }
    .footer-reviews-btn:after {
      width: 100%;
      height: 2.1rem;
      width: 3rem;
      background-size: 3rem 2.1rem !important;
      right: 5px; }
    .footer-reviews-btn:hover:after {
      right: 0px; }
  .footer-slider__inner-item img {
    height: 6rem !important; }
  .footer-slider__nav-container-btn img {
    width: 1.8rem; }
  .footer-slider__nav-container-btn:first-child {
    left: -30px;
    top: 15px; }
  .footer-slider__nav-container-btn:last-child {
    right: -30px;
    top: 15px; }
  .footer h3 {
    font-size: 3rem; } }

@media screen and (max-width: 480px) {
  .footer-slider__inner-item img {
    height: 4.5rem !important; }
  .footer-slider__nav-container-btn img {
    width: 1.5rem; }
  .footer-slider__nav-container-btn:first-child {
    left: -40px;
    top: 30px; }
  .footer-slider__nav-container-btn:last-child {
    right: -40px;
    top: 30px; }
  .footer-reviews__content {
    width: auto; }
    .footer-reviews__content span {
      font-size: 1.8rem !important; }
    .footer-reviews__content p {
      font-size: 1.1rem !important; } }

@media screen and (max-width: 360px) {
  html,
  footer {
    font-size: 8.3px; }
  .header-banner__name {
    padding-bottom: 2.6rem; }
  .header-video__cover {
    height: 20px; }
  .header-video__title {
    top: 10.2rem; }
  .top-bar__socials-mobile img {
    width: 4.5rem; }
  .footer-slider {
    width: 80%; }
    .footer-slider__nav-container-btn img {
      width: 1.8rem; }
    .footer-slider__nav-container-btn:first-child {
      left: -30px;
      top: 38px; }
    .footer-slider__nav-container-btn:last-child {
      right: -30px;
      top: 38px; } }
