.home-header {
    background: url(../../img/home-header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__title {
        font-size: 3.5rem;
        color: #FFF;
        text-align: center;
        padding-top: 6.5rem;
        text-transform: uppercase;
    }
    &__welcome {
        padding-top: 7.6rem;
        font-size: 5rem;
        color: #fcc200;
        text-align: center;
        text-shadow: 3px 3px 0px black;
    }
    &__buttons {
        display: none;
        button {
            color: #FFF;
            font-style: italic;
            font-size: 1.6rem;
            background-color: #4d4d4d;
            border: none;
            margin-bottom: 1.3rem;
            padding: 1rem 2.1rem 1.2rem 2.1rem;
            font-weight: bold;
            width: 100%;
            cursor: pointer;
            &.active {
                font-size: 2.6rem;
                background: #000;
            }
        }
    }
    &__text {
        font-size: 6rem;
        color: #FFF;
        font-style: italic;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        text-shadow: 3px 3px 0px black;
        margin-top: 1rem;
        margin-bottom: 2.8rem;
        span {
            color: #fcc200;
        }
    }
    &__speaker {
        text-align: center;
        font-size: 2.4rem;
        color: #fcc200;
        padding-bottom: 18.2rem;
        text-shadow: 1px 1px 0px black;
    }
    &__img {
        position: absolute;
        left: 0;
        bottom: -18rem;
    }
}

.how-section {
    padding-top: 3rem;
    margin-bottom: 12.5rem;
    &__left {
        flex: 0 0 315px;
        padding-top: 15.4rem;
        button {
            color: #FFF;
            font-style: italic;
            font-size: 1.6rem;
            background-color: #4d4d4d;
            border: none;
            margin-bottom: 1.3rem;
            padding: 0.6rem 2.1rem 0.8rem 2.1rem;
            font-weight: bold;
            width: 100%;
            cursor: pointer;
            &.active {
                font-size: 2.6rem;
                background: #000;
            }
        }
    }
    &__right {
        flex: 0 1 auto;
        margin-left: 4.7rem;
    }
    &__right-title {
        font-weight: bold;
        font-size: 3.8rem;
        color: #000;
        text-shadow: 3px 3px 0px #FFF;
        font-style: italic;
    }
    &__right-text {
        font-size: 1.6rem;
        margin-bottom: 5rem;
    }
    &__right-media {
        display: flex;
        >div {
            &:nth-child(1) {
                flex: 0 0 66.51%;
            }
            &:nth-child(2) {
                flex: 0 0 33.49%;
            }
        }
    }
    &__sm-block {
        margin-left: 2.5rem;
        text-decoration: none !important;
        padding: 3.1rem 2.5rem 3.8rem 2.5rem;
        line-height: 1.3;
        background-size: cover !important;
        position: relative;
        &:nth-child(1) {
            margin-bottom: 2.5rem;
            background: url(../../img/home-page-sm-1.jpg);
        }
        &:nth-child(2) {
            background: url(../../img/home-page-sm-2.jpg);
        }
        span {
            color: #FFF;
            font-weight: bold;
            font-size: 2.8rem;
            font-style: italic;
            position: relative;
            z-index: 4;
        }
        &:after {
            position: absolute;
            content: '';
            background-image: url(../../img/sm-block-arrow.svg);
            background-size: 2.2rem 4rem !important;
            width: 2.2rem;
            height: 4rem;
            right: 1.4rem;
            top: 70%;
            transform: translate(0%, -50%);
            transition: all 0.3s;
        }
        &:hover:after {
            right: 0.8rem;
        }
        &__bg {
            position: absolute !important;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 3 !important;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.video {
    &__wrapper {}
}