/* ABSTRACTS USE FOR NON-COMMON COMPONENTS */

@import '../abstracts/_use';

/* PAGE STYLING */

.home-header {
    background: url(../../img/wedding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 11;
    &__title {
        font-size: 3.5rem;
        color: $white;
        text-align: center;
        padding-top: 6.5rem;
        text-transform: uppercase;
    }
    &__welcome {
        padding-top: 7.6rem;
        font-size: 5rem;
        color: #fcc200;
        text-align: center;
        text-shadow: 3px 3px 0px black;
    }
    &__buttons {
        display: none;
        button {
            color: $white !important;
            font-style: italic;
            font-size: 1.6rem;
            background-color: #4d4d4d;
            border: none;
            margin-bottom: 1.3rem;
            padding: 1rem 2.1rem 1.2rem 2.1rem;
            font-weight: bold;
            width: 100%;
            cursor: pointer;
            &.active {
                font-size: 2.6rem;
                background: #000;
            }
        }
    }
    &__text {
        font-size: 6rem;
        color: $white !important;
        font-style: italic;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        text-shadow: 3px 3px 0px black;
        margin-top: 1rem;
        margin-bottom: 2.8rem;
        span {
            color: #fcc200;
        }
    }
    &__speaker {
        text-align: center;
        font-size: 2.4rem;
        padding-bottom: 18.2rem;
        text-shadow: 1px 1px 0px black;
        margin-bottom: 0;
        color: $main-color;
    }
    &__img {
        position: absolute;
        left: 0;
        bottom: -18rem;
    }
}

.how-section {
    &__left {
        flex: 0 0 315px;
        @include padding-top(17rem);
    }
    &__right {
        flex: 0 1 auto;
    }
    &__sm-block {
        &:nth-child(1) {
            @include background('../img/home-page-sm-1.jpg', cover, auto);
        }
        &:nth-child(2) {
            @include background('../img/home-page-sm-2.jpg', cover, auto);
        }
    }
}