/* ABSTRACTS USE */

@import '../abstracts/_use';

/* PAGE STYLING */

.portfolio {
    &-gallery {
        @include flex();
        margin-top: 5rem;
        img {
            @include size(100%);
        }
        &__left,
        &__right {
            >div {
                margin-bottom: 5rem;
            }
        }
        &__right {
            margin-left: 5rem;
        }
    }
    &-video {
        &__wrapper {
            iframe {
                @include size(100%, 50rem);
            }
        }
    }
}

.content-yellow {
    &__bg {
        /* CHANGE SPACE FOR YELLOW BG HERE */
        @include yellow-bg-gaps(15rem, 15rem);
    }
}

.big-btn-arrow {
    max-width: 51rem;
}