/* ABSTRACTS USE */

@import '../abstracts/_use';

/* PAGE STYLING */

.content-yellow {
    &__bg {
        @include float-position($absolute, 0, 0, 0, 0, 0, 1);
        @include size(auto, 100%);
        @include color(transparent, $main-color);
        &:after {
            @include background('../img/romb.jpg', auto, $unset, repeat);
            @include float-position($absolute, $unset, $unset, $unset, $unset, 1);
            @include size(100%, 100%);
        }
    }
}

.video__wrapper {
    max-width: 820px;
    @include margin(28rem, auto, 0, auto);
    position: $relative;
    iframe {
        @include margin(-24.5rem);
        @include size(100%, 50rem);
    }
}

.werkwijze-main-content {
    .row {
        max-width: 1030px;
        @include margin(5.2rem, $unset, 0rem, auto);
    }
    .col-md-6 {
        @include margin(4.3rem, auto, 4.7rem, auto);
        @include flex(row);
        img {
            margin-right: 2.5rem;
            @include size(16rem, auto);
        }
        .content-title {
            @include font-style(3.6rem, $second-color, $bold, $italic, $unset, 1.1);
            margin-bottom: 0;
        }
        p {
            @include font-style(1.6rem, $second-color);
        }
    }
}