.float-buttons {
  position: fixed;
  font-size: 10px;
  top: 38.8em;
  right: 10.1em;
  z-index: 11;
  width: 24.7em;
  height: 28.4em; }
  .float-buttons__btn {
    border: solid 1.2em #FFF;
    transform: rotate(45deg);
    display: block; }
    .float-buttons__btn-container {
      transform: rotate(0deg);
      background-color: black;
      width: 8.3em;
      height: 8.3em;
      margin: -0.1em;
      display: block; }
      .float-buttons__btn-container svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -55%) rotate(-45deg);
        max-width: 5.6em; }
    .float-buttons__btn tspan {
      font-weight: bold !important; }
    .float-buttons__btn:nth-child(1) {
      position: absolute;
      left: 0; }
    .float-buttons__btn:nth-child(2) {
      position: absolute;
      right: 3.7em;
      top: -3em;
      border-width: 1.2em 1.2em 0.5em 1.2em;
      border-style: solid;
      border-color: #FFF; }
      .float-buttons__btn:nth-child(2) .float-buttons__btn-container svg {
        max-width: 9em;
        top: 55%;
        left: 55%; }
    .float-buttons__btn:nth-child(3) {
      position: absolute;
      bottom: 7.3em;
      left: 4.9em;
      border-width: 1.2em;
      border-style: solid;
      border-color: #FFF; }
      .float-buttons__btn:nth-child(3) .float-buttons__btn-container {
        background-color: #00a700;
        width: 11.7em;
        height: 11.5em; }
        .float-buttons__btn:nth-child(3) .float-buttons__btn-container svg {
          max-width: 11.4em; }
