/* ABSTRACTS USE */
/* IMPORT ABSTRACTS */
/* PREFIXES */
/* FONT STYLE */
/* FONTS DISPLAY */
/* ELEMENT FLOAT POSITION */
/* SIZE */
/* BACKGROUND */
/* BORDER */
/* BUTTON */
/* COLOR WITH BACKGROUND */
/* MARGIN PADDING */
/* SHADOWS */
/* MARGIN HORIZONTAL CENTER ALIGN */
/* MARGIN */
/* PADDING */
/* BORDER RADIUS */
/* TRANSITION */
/* RESPONSIVNESS MIXIN */
/* BASE PATH */
/* COLORS */
/* FONT-SIZE (EM/REM) */
/* FONTS WEIGHT */
/* FONTS STYLES */
/* MAIN FONT FAMILY */
/* TEXT POSITIONS */
/* ELEMENT POSITION */
/* POSITIONS */
/* PROPERTIES */
/* DISPLAY */
/* BREAKPOINTS */
/* IMPORT SASS FEATURES */
/* <!---- ----> */
/* 768PX - TABLETS */
@media screen and (max-width: 768px) {
  .portfolio-gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .portfolio-gallery div {
      margin-bottom: 0rem; }
    .portfolio-gallery img {
      margin-bottom: 4rem; }
    .portfolio-gallery__right {
      margin-left: 0rem; }
  .video__wrapper iframe {
    width: 100%;
    height: 30rem; } }
